#root {
  margin: 0 auto;
}

.pokemonCardWrapper {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(5,minmax(250px,300px));
  gap: 20px;
  align-self: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  margin: 5px;
  text-align: right;
}